html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #FCE5C0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.nectarine{
    position: relative;
    right: 150px;
    top: 5px;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
}

.timer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 5px black solid;
    border-radius: 40px;
    width: 500px;
    height: 200px;
    background-color: #fff;
}

.info{
    font-size: 16px;
    border: 4px #2A2A2A solid;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    padding: 5px 30px;
    border-top:0px;
}

.counter{
    font-size: 100px;
}

.timer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #2A2A2A;
    margin: -50px;
    z-index: -1;
    border: 5px black solid;
    width: 500px;
    height: 170px;
}

button{
    padding: 5px 20px;
    border: black 4px solid;
    border-radius: 15px;
    font-size: 28px;
}

.buttons{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}